@model VmBase
@{
    Layout = null;
}

<div class="social-login mb-3">
    <ul>
        @if (Model.ExternalLogins.Count == 0)
        {
            <li class="modal-divider"><span>No external login configured</span></li>
        }
        else
        {
            <li>
                <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-all-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {

                            <button type="submit" class="btn text-white connect-@provider.Name"
                                    name="provider"
                                    value="@provider.Name" style="width:100%;">
                                <a class="btn connect-@provider.Name" title="Login usin your @provider.DisplayName account">
                                    <i class="ti-google"></i>
                                    @provider.DisplayName
                                </a>
                            </button>
                        }
                    </div>
                </form>
            </li>
        }

    </ul>
</div>