//font
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
//color
$primary-color: #00997d;
$secondary-color: #003d90;
$title-color: #414a53;
$subtitle-color: #a9aeb3;
$color-white: #fff;
$color-wgray: #d8dde1;
$bg-lgray: #f3f6f5;

//font-weight
$primary-font-weight: 700;
