@model VmAddPassword
@{
    ViewData["Title"] = "Add Password";
}

<section class="hero-banner" style="height:30%;">
    <picture>
        <source srcset="~/img/typography.jpg" media="(min-width: 992px)">
        <img class="bg-img"
             src="~/img/typography.jpg" alt="img">
    </picture>
    <div class="hero-layout"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="align-container">
                    <div class="align-container-item">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h4 class="modal-header-title">Add Password</h4>
@if (Model.IsSuccess == true)
{
    <h3 class="modal-header-title" style="color:#0AEB3B;">
        You have successfully set a local password. You can now use either your local user account or an external account to login
    </h3>
    <a class="btn btn-primary text-white" asp-controller="account" asp-action="index">Account</a>

}
else
{
<div class="container">
    <p class="text-info">
        You have used an external account to login and do not have a local username and
        password. Simply set a new password if you want to login using a local account.
        Use your email as the username.
    </p>
    <div class="login-form">
        <form method="post" asp-controller="Account" asp-action="AddPassword">
            <div class="text text-danger text-center" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <div class="input-with-icon">
                    <input type="password" class="form-control form-input" asp-for="NewPassword" placeholder="New Password" />
                    <span class="text text-danger" asp-validation-for="NewPassword"></span>
                    <i class="ti-unlock"></i>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <div class="input-with-icon">
                    <input type="password" class="form-control form-input" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                    <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
                    <i class="ti-unlock"></i>
                </div>
            </div>

            <div class="form-group">
                <button class="quote-form-submit mb-5" type="submit">Add</button>
            </div>

        </form>
    </div>
</div>
}
