@model VmChangePassword
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
}

<section class="hero-banner" style="height:30%;">
    <picture>
        <source srcset="~/img/typography.jpg" media="(min-width: 992px)">
        <img class="bg-img"
             src="~/img/typography.jpg" alt="img">
    </picture>
    <div class="hero-layout"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="align-container">
                    <div class="align-container-item">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h4>
    Your password is successfully changed.
</h4>
