
@{
    ViewData["Title"] = "ConfirmEmail";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="ipt-title">Welcome!</h2>
                <span class="ipn-subtitle">Thank you for confirming your email</span>
                <a class="quote-form-submit mb-5" asp-controller="account" asp-action="index"><button style="background: radial-gradient(black, transparent);" class="quote-form-submit text-white mb-5">Account</button></a>
            </div>
        </div>
    </div>
</div>