@model VmForgotPassword
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h2 class="ipt-title">Forgot Password.</h2>
                <span class="ipn-subtitle">TransX</span>

            </div>
        </div>
    </div>
</div>

<h4 class="modal-header-title">Forgot Password</h4>
<div class="container">
    <div class="login-form">
        <form method="post" asp-controller="Account" asp-action="forgotpassword">
            <div class="text text-danger text-center" asp-validation-summary="All"></div>
            <div class="form-group">
                <label>Email</label>
                <div class="input-with-icon">
                    <input type="text" class="form-control form-input" asp-for="Email" placeholder="Email" />
                    <span class="text text-danger" asp-validation-for="Email"></span>
                    <i class="ti-icon ti-user"></i>
                </div>
            </div>


            <div class="form-group">
                <button class="quote-form-submit mb-5" type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>