@model VmResetPassword
@{
    ViewData["Title"] = "Reset Password";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h2 class="ipt-title">Reset Password.</h2>
                <span class="ipn-subtitle">TransX</span>

            </div>
        </div>
    </div>
</div>

<h4 class="modal-header-title">Reset Password</h4>
<div class="container">
    <div class="login-form">
        <form method="post" asp-controller="Account" asp-action="resetpassword">
            <div class="text text-danger text-center" asp-validation-summary="All"></div>
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <div class="form-group">
                <label>New Password</label>
                <div class="input-with-icon">
                    <input type="password" class="form-control form-input" asp-for="Password" placeholder="New Password" />
                    <span class="text text-danger" asp-validation-for="Password"></span>
                    <i class="ti-icon ti-unlock"></i>
                </div>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <div class="input-with-icon">
                    <input type="password" class="form-control form-input" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                    <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
                    <i class="ti-icon ti-unlock"></i>
                </div>
            </div>


            <div class="form-group">
                <button class="quote-form-submit mb-5" type="submit">Reset</button>
            </div>

        </form>
    </div>
</div>